@charset"utf-8";
.landing_page {
	padding-bottom:1.333333rem;
	overflow: hidden;

}

.img_logo img {
	width:10rem;
	clear: both;
	display: block;

}
.login_wrap {
  overflow: hidden;
	width:100%;
	height: 10.346666rem;
	background: url(../images/zt/aiqin_activity/2.png) no-repeat;
	background-size: 100% 100%;

}
.login_con{
	clear: both;
	width:8.8rem;
	height: 8.906666rem;
	margin:0.133333rem auto 0;
	border-radius: 0.133333rem;
	background: #fff;

	box-sizing: border-box;
	box-shadow: 0.08rem 0.08rem 0.12rem rgba(0,0,0,0.1);
}

input::-webkit-input-placeholder {
	color: #b2bde1!important;
}

input::-moz-placeholder {
	color: #b2bde1!important;
}

input::-ms-input-placeholder {
	color: #b2bde1!important;
}
textarea::-webkit-input-placeholder {
	color: #b2bde1!important;
}

.login_input_wrap {
	width: 100%;
	padding: 0.666666rem 0.4rem;
	box-sizing: border-box;
}

.landing_input {
	width: 100%;
	margin-bottom: 0.266666rem;
	position: relative
}

.landing_input input {
	line-height: 1.066666rem;
	background:#daf8ff;
	border: 0;
	width: 100%;
	padding-left: 0.346666rem;
	box-sizing: border-box;
	border-radius: 0.133333rem
}

.login_wrap input::-webkit-input-placeholder {
	color: #9a9a9a
}

.login_wrap input::-moz-placeholder {
	color: #9a9a9a
}

.login_wrap input::-ms-input-placeholder {
	color: #9a9a9a
}

.landing_input_samll input:nth-of-type(1) {
	width: 4.56rem
}

.landing_input_samll input:nth-of-type(2) {
	width: 3.173333rem;
	float: right;
	padding-left: 0;
	text-align: center;
	color: #fff;
	display: block;
		background:#f2d657;
}

#phoneCodeBtn {
	background:#f2d657;
	color: #fff;
	width: 3.173333rem;
	float: right;
	padding-left: 0;
	text-align: center;
	line-height: 1.066666rem;
	border-radius: 0.133333rem;
	display: block
}

.confirm_file {
	padding-top: 0.32rem;
	overflow: hidden
}

.confirm_file a {
	color: #a01e40
}

.inputRad {
	position: relative;
	width: 0.346666rem;
	height: 0.346666rem;
	margin-right: 0.16rem
}

.inputRad input {
	width: 0.293333rem;
	height: 0.2rem
}

.inputRad label {
	width: 0.346666rem;
	height: 0.346666rem;
	background: #fdc26a url("../images/landing_page//icon_checkbox.png") no-repeat;
	background-size: 100% 100%;
	display: block;
	position: absolute;
	top: 0.08rem;
	left: 0
}

.inputRad label.cur {
	background: #fdc26a url("../images/landing_page/icon_checkbox_cur.png") no-repeat;
	background-size: 100% 100%
}

.landing_login_btn {
	margin:0 auto;
	width:8.706666rem;
	line-height:1.066666rem;
	height: 1.213333rem;
	background: #ee3219;
	color: #fff;
	text-align: center;
	background:url(../images/zt/aiqin_activity/btn.png) no-repeat;
	background-size: 100% 100%;
}

.invest_btn {
	width: 5.173333rem;
	line-height: 0.666666rem;
	text-align: center;
	color: #fff;
	background: #ee3219;
	margin: 0 auto
}

.invest_btn a {
	color: #fff;
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 0.133333rem
}


#hidePwd_rs {
	position: absolute;
	overflow: hidden;
	top: 0.346666rem;
	right: 0.506666rem;
	height: 1.066666rem;
	width: 0.853333rem
}

#hidePwd_rs::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	background: url("../images/icon/eye_close.png") no-repeat;
	background-size: 100% 100%!important;
	width: 0.466666rem;
	height: 0.333333rem;
	z-index: 1
}

#hidePwd_rs.cur::before {
	background: url("../images/icon/eye_open.png") no-repeat;
	background-size: 100% 100%!important
}
.setion_two{
width: 10rem;
height: 3.866666rem;
background:url(../images/zt/aiqin_activity/3.png) no-repeat;	
background-size: 100% 100%!important
}
.setion_three{
	width: 10rem;
height:20.586666rem;
background:url(../images/zt/aiqin_activity/4.png) no-repeat;	
background-size: 100% 100%!important
}
.section_four{
	width: 10rem;
height:14.693333rem;
background:url(../images/zt/aiqin_activity/6.png) no-repeat;	
background-size: 100% 100%!important
}
.section_five{
		width: 10rem;
height:10.453333rem;
background:url(../images/zt/aiqin_activity/5.png) no-repeat;	
background-size: 100% 100%!important
}
.setion_two_con{
	width: 9.333333rem;
	margin: 0 auto;

}
.section{
	overflow: hidden;
	
}
.setion_two_con{
		position: relative;
}
.section h3{
	width:100%;
	text-align: center;
	line-height:0.933333rem;
	color:#ff511e;
	height: 1.08rem;
	background:url(../images/zt/aiqin_activity/tit.png) no-repeat;	
	background-size: 100% 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.section_white_con{
	width: 8.8rem;
    padding-bottom:0.666666rem;
    margin:0 auto 0;
    padding-top: 0.133333rem;
    border-radius: 0.133333rem;
    background: #fff;
    box-sizing: border-box;
    box-shadow: 0.08rem 0.08rem 0.12rem rgba(0,0,0,0.1);
    border-top-left-radius:0.533333rem;
    border-top-right-radius:0.533333rem;
}
.section_white_con p{
    color: #333333;
    padding-top: 1.36rem;
    text-align: center;
}
.section_programme p{
	text-align: left;
	padding-top: 0;
}
.section_programme{
	padding: 1.333333rem 0.453333rem 0;
}
.section_programme h4{
	font-weight: bold;
	margin: 0.266666rem 0;
}
.section_programme .tit_p{
	color: #d17c05;
	margin-bottom: 0.2rem;
}
.mb_20{
	margin-bottom: 0.2rem;
	
}
.section_programme_img{
	text-align: center;
	width: 100%;
	margin-top: 0.4rem;
}
.section_programme_img img{
	width: 100%;
	margin-top: 0.266666rem;
}
.section_four .section_white_con p{
	padding-top: 0;
	text-align: left;
	line-height: 1.5;
	margin-bottom:0.453333rem;
}
.section_four .section_white_con {
padding: 1.333333rem 0.453333rem 0.8rem;
}
.section_four .section_white_con p:nth-of-type(1){
	padding-top: 0.533333rem;
}
.section_four .section_white_con p:nth-of-type(1),.section_four .section_white_con p:nth-of-type(3){
	color: #d17c05;
}
.section_five .section_white_con{
	padding: 1.333333rem 0.453333rem 0.8rem;
}
.section_five .section_white_con p{
padding-top: 0;
	text-align: left;
	line-height: 1.5;
	margin-bottom:0.453333rem;
}
.section_six img{
	width: 100%;
}
.landing_page {
     padding-bottom:0; 
    overflow: hidden;
    background: #8deaff;
}